.main-wrapper {
    background-color: aqua;
    height: 100vh;
    background-image: 
    linear-gradient(to bottom, #000000bb, #00000022, #000000bb), 
    url('https://www.picsum.photos/id/33/1000');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: cover จะโดนcrop ให้เท่าจอ  */
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    font-size: 80px;
    align-items: center;

}

body {
    margin: 0;
}